body {
    background-color: #343a40; /* Set a dark background color */
}
#pdf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-emphasis: cornflowerblue;
    font-family: Monaco, serif;
}

#pdf-viewer {
    width: 45%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    max-width: 45%; /* Ensure the viewer doesn't exceed the container's width */
    max-height: 100%; /* Ensure the viewer doesn't exceed the container's height */
    border: 3px solid black;
    margin: 0 auto;
}