#pdf-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-emphasis: cornflowerblue;
    font-family: Monaco, serif;
}

#pdf-viewer {
    border: 3px solid black;
    margin: 0 auto; /* Center the canvas horizontally */
}