/*Selector {*/
/*    Property: value;*/
/*}*/

body {
    background-color: #3C3744;
}

h2 {
    color: #00E8FC;
    text-align: center;
    cursor: pointer;
    border: 5px solid rgba(9, 12, 155, 0.5);
}

p {
    color: #D5C67A;
    line-height: 20px;
    font-size: 120%;
    font-family: Baskerville, serif;
}

li {
    list-style: none;
    display: inline-block;
    color: #F96E46;
    outline: none;

}

.web-text {
}
