.Welcome {
    font-family: Playfair, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    text-align: center;
}

.Welcome h1 {
    width: 100%;
    font-size: 8em;
    color: #4bceff;
    font-style: italic;
    text-shadow: -1px -1px 0 #ffff00,
    1px -1px 0 #ffff00,
    -1px 1px 0 #ffff00,
    1px 1px 0 #ffff00;

    /* Responsive font size adjustments */
    @media screen and (max-width: 768px) {
        font-size: 4em;
    }

    /*@media screen and (max-width: 480px) {*/
    /*    font-size: 2em;*/
    /*}*/
}

.Welcome p {
    width: 100%;
    font-size: 2em;
    color: #ffff00;
    outline: gold;
    text-shadow: -1px -1px 0 #4bceff,
    1px -1px 0 #4bceff,
    -1px 1px 0 #4bceff,
    1px 1px 0 #4bceff;

    /* Responsive font size adjustments */
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }

    /*@media screen and (max-width: 480px) {*/
    /*    font-size: 0.5em;*/
    /*}*/
}

.Welcome #p1 {
    width: 100%;
    font-size: 3em;
    color: #ffff00;
    outline: gold;
    text-shadow: -1px -1px 0 #4bceff,
    1px -1px 0 #4bceff,
    -1px 1px 0 #4bceff,
    1px 1px 0 #4bceff;

    /* Responsive font size adjustments */
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }

    /*@media screen and (max-width: 480px) {*/
    /*    font-size: 0.5em;*/
    /*}*/
}
