.Welcome {
    font-family: Playfair, serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh;
    text-align: center;
}

.Welcome h1 {
    width: 100%;
    font-size: 8em;
    color: #57eee1;
    margin-top: -4.25em;
    font-style: italic;
}

.Welcome p {
    width: 100%;
    font-size: 30px;
    color: #3bcb7e;
}