.Welcome {
    font-family: Playfair, serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh;
    text-align: center;
}

.Welcome h1 {
    width: 100%;
    font-size: 8em;
    color: #4bceff;
    margin-top: -4.25em;
    font-style: italic;
    text-shadow: -1px -1px 0 #ffff00,
    1px -1px 0 #ffff00,
    -1px 1px 0 #ffff00,
    1px 1px 0 #ffff00; /* Set the outline color and size */
}

.Welcome p {
    width: 100%;
    font-size: 30px;
    color: #ffff00;
    outline: gold;
    text-shadow: -1px -1px 0 #4bceff,
    1px -1px 0 #4bceff,
    -1px 1px 0 #4bceff,
    1px 1px 0 #4bceff; /* Set the outline color and size */
}