/* Resume.css */

.resume-container {
    height: 100vh; /* Use the full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin-top: 2em;
}

.resume-iframe {
    border: none;
    width: 50em;
    position: relative;
    overflow: hidden;
}
